div{
  font-size:18px;

  p{
    color:blue;
  }

  ul{
    color:green;
  }

}
.button-base {
   radius: 2px;
   margin: 5px;
}

.menu-button {
   @extend .button-base;
   background-color: blue;
   color: white;
}
.message{
  font-size:20px;
  border:1px solid blue;
}
.warning{
  @extend.message;
  color:yellow;
}
.error{
  @extend.error;
  color:red;
}
