div{
  font-size:18px;

  p{
    color:blue;
  }

  ul{
    color:green;
  }

}
.button-base {
   radius: 2px;
   margin: 5px;
}

.menu-button {
   @extend .button-base;
   background-color: blue;
   color: white;
}
.message{
  width:100%;
  height: 50px;
  background:lightpink;
}
.success{
  @extend.message;
  background:green;
}
.error{
  @extend.message;
  background:red;
}
