div{
  font-size:18px;

  p{
    color:blue;
  }

  ul{
    color:green;
  }

}
.message{
  font-size:20px;
  border:1px solid blue;
}
.warning{
  @extend.message;
  color:yellow;
}
.error{
  @extend.error;
  color:red;
}
