*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#myheader {
    background-color:lightblue ;
    color:black;
    text-align:center;
    padding: 40px;
    font-size: 20px;
}
.b{
  font-size:20px;
}
/* .ol li
{
  color red;
}
.ai
{
  text-align:center;
} */
.grid{
  background-color: green;
  display: grid;
  padding: 20px;
  grid-column-gap: 10px;
  /* grid-column-gap----space between individual columns */
  grid-row-gap: 10px;
  /* row -gap-----more space inbetween rows */
  /* grid-template-columns: 200px 200px auto; only last cell changes according to size of screen */
   grid-template-columns:auto auto auto auto;
    /* all cells change according to screen size  */
}
.grid-item{
  background-color:white;
  font-size:20px;
  padding:20px;
  text-align:center;
}
